<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <div formGroupName="personalData" novalidate>
      <input formControlName="email" /> <br />
      <input formControlName="mobile" /> <br />
      <select formControlName="country"> <br />
        <option *ngFor="let country of countries" [value]="country"
          >{{country}}</option
        >
      </select>
    </div>
    <select formControlName="requestType"> 
      <option *ngFor="let requestType of requestTypes" [value]="requestType"
        >{{requestType}}</option
      >
    </select><br />
    <input formControlName="text" /> <br />
    <button type="submit" [disabled]="contactForm.pristine">Save</button>
    <button type="reset" (click)="revert()" [disabled]="contactForm.pristine">
      Revert
    </button>
  </form>
