<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <div formGroupName="personalData" novalidate>
     Email :  <input formControlName="email" /> <br />
     Mobile : <input formControlName="mobile" /> <br />
     Country : <select formControlName="country"> <br />
        <option *ngFor="let country of countries" [value]="country"
          >{{country}}</option
        >
      </select>
    </div>
   Request Type : <select formControlName="requestType"> 
      <option *ngFor="let requestType of requestTypes" [value]="requestType"
        >{{requestType}}</option
      >
    </select><br />
   Comments : <textarea formControlName="text"></textarea>  <br />
    <button type="submit" [disabled]="contactForm.pristine">Save</button>
    <button type="reset" (click)="revert()" [disabled]="contactForm.pristine">
      Revert
    </button>

    <div><p>
      Form Value: {{ contactForm.value | json }}
    </p></div> 
  </form>
